div.treelist {
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* width: 40%; */
}

div.treelist.nodisplay{
    display: none;
}

div.treelist h3 {
    margin: 0;
    font-size: 1.5rem;
}

div.treelist h3 > a {
    color: #002d80;
}

div.treelist img.illustration{
    /* min-width: none; */
    max-width: 80%;
    width: 350px;
    float: center;
    display: block;
    margin: 1rem auto;
    background-color: aliceblue;
}

@media screen and (min-width: 768px) {
    div.treelist img.illustration{
        /* max-width: 80%; */
        width: 30%;
        float: right;
        margin: 1rem;
    }
}

div.treelist > ul {
    margin-left: 10px;
    border-left: 3px solid #002d80 ;
    padding-left: 37px;
}

div.treelist > ul > li{
    position: relative;
    top: 0.8rem;
    padding-left: 20px;
    list-style-type: none;
    line-height: 2.2rem;
    font-size: larger;
}

div.treelist > ul > li::after{
    content: '';
    width: 40px;
    height: 0;
    position: absolute;
    left: -38px;
    top: 1.2rem;
    border-top: solid 3px #002d80;
}

div.treelist > ul > li > a{
    color: black;
}