div.home{
    background-image: url('../../images/illust/ODE_fond_image_1920_1440.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(34, 106, 189, 0.26);
    /* background-color: rgba(57, 117, 136, 0.26); */
    background-blend-mode: multiply;
    min-height: 100vh;
    /* padding-bottom: 3rem; */
}

div.home header.pagetitle {
    min-height: 30vh;
    height: 15rem;
    /* max-height: fit-content; */
    border: 0;
    /* background-color: rgba(57, 117, 136, 0.26); */
    /* box-shadow: 0 0 50px 30px rgba(57, 117, 136, 0.26); */
}

div.home header.pagetitle img{
    display: none;
}

div.home h1{
    font-size: 3.5rem;
    text-align: left !important;
    margin: 2rem;
    padding: 3rem;
    /* background-color: rgba(57, 117, 136, 0.26); */
    /* box-shadow: 0 0 50px 30px rgba(57, 117, 136, 0.26); */
}

div.home h1 span{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 1.5rem;
    /* padding: 1rem; */
}

/* @media screen and (min-width: 768px) {
    div.home h1{
        font-size: 4em;
    }

    div.home h1 span{
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
} */

div.home .grid {
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;  /* on déclare 1 colonne de base */
    padding: 0;
    margin: 0;
}

div.home .grid .card {
    /* width: 70vw; */
    /* height: 80vw; */
    /* max-width: 70vw; */
    max-height: 90vh;
}

@media screen and (min-width: 768px) {
    /* two columns for big screens */
    div.home .grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    div.home .grid .card {
        height: 45vw;
    }
}

div.home .grid .card img,
div.home .grid .card picture {
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 100%;
}

/* div.home .grid .card .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

div.home .grid .card .overlay h2 {
    margin: 0;
    padding-top: 0;
}

div.home div.bottom-space{
    min-height: 30vh;
    height: 15rem;
    /* max-height: fit-content; */
    border: 0;
}

footer.footer{
    margin-top: 0;
}