/* header.Navigation {
} */

/* header.Navigation .navigation-link{
} */

/* header.Navigation .logo{
  z-index: 1000;
} */

nav {
  font-size: larger;
}

nav a.navigation-link {
  border-bottom: 2px solid transparent;
  /* font-weight: 400; */
  /* color: #EEEEE6; */
  transition: color 0.5s ease, border-bottom 0.5s ease;
  /* color: #002d80 !important; */
}

nav a.navigation-link:hover,
nav a.navigation-link:active,
nav a.navigation-link:focus {
  /* text-decoration: none; */
  /* color: rgba(0, 182, 217, 0.6) !important; */
  /* color: #001531 !important; */
  color: #00b6d9 !important;
  /* border-bottom: 2px solid rgba(0, 182, 217, 0.6) !important; */
  transition: color 0.5s ease, border-bottom 0.5s ease;
}

nav a.logo img{
  /* position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  z-index: 100; */
  width: 60px;
  height: 60px;
}

nav a.logo span{
/* margin-left: 120px; */
margin-top: 0;
margin-bottom: 0;
text-align: center;
}

@media screen and (min-width: 768px){
  nav li.pipe{
    display: inline-block !important;
  }
}